h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.body {
  height: 24px;
  max-width: 1111px;
  margin-right: 0px;
  margin-left: 0px;
  background-color: #f1f3f5;
}

.navbar {
  display: block;
  width: 1110px;
  margin: 24px auto 67px;
  padding-right: 2px;
  justify-content: space-between;
  background-color: #f2f2f2;
}

.section {
  height: 640px;
  max-width: 1111px;
}

.section.hero {
  margin-right: 165px;
  margin-bottom: 160px;
  margin-left: 165px;
  border-radius: 15px;
  background-color: #e7816b;
}

.section.services {
  margin-right: 165px;
  margin-bottom: 160px;
  margin-left: 165px;
}

.section.cards {
  height: 412px;
  margin-right: 0px;
  margin-bottom: 160px;
  margin-left: 0px;
}

.section.footer {
  max-width: none;
  margin-left: 0px;
}

.section.footer {
  width: 1440px;
  max-width: 1440px;
  margin-top: 380px;
  padding-top: 144px;
  padding-left: 165px;
  background-color: #1d1c1e;
}

.section.design_projects {
  height: 308px;
  margin: 160px 163px 160px 165px;
}

.section.projects {
  height: 988px;
  margin-right: 165px;
  margin-left: 165px;
}

.section.projects.graphic {
  height: 478px;
}

.section.description {
  height: 252px;
  margin: 64px 165px 160px;
  padding-right: 191px;
  padding-left: 190px;
  border-radius: 15px;
  background-color: #e7816b;
  font-family: Jost, sans-serif;
}

.section.about {
  height: 480px;
  margin-right: 165px;
  margin-bottom: 160px;
  margin-left: 165px;
}

.section.team {
  width: 1111px;
  margin-right: 165px;
  margin-bottom: 160px;
  margin-left: 165px;
}

.section.countries {
  width: 1110px;
  height: 364px;
  margin-right: 165px;
  margin-bottom: 160px;
  margin-left: 165px;
}

.section.story {
  width: 1111px;
  margin-right: 165px;
  margin-bottom: 160px;
  margin-left: 165px;
}

.section.about__team {
  position: static;
  display: block;
  width: 1111px;
  margin-right: 165px;
  margin-bottom: 160px;
  margin-left: 165px;
  flex-direction: row;
  flex-wrap: wrap;
}

.section.country_canada {
  height: 326px;
  margin-bottom: 32px;
  margin-left: 165px;
}

.section.country__australia {
  height: 326px;
  margin-right: 165px;
  margin-bottom: 32px;
  margin-left: 165px;
}

.section.country__uk {
  height: 326px;
  margin-right: 165px;
  margin-bottom: 160px;
  margin-left: 165px;
}

.section.contact {
  height: 480px;
  margin-right: 165px;
  margin-bottom: 160px;
  margin-left: 165px;
}

.hero__content {
  position: static;
  width: 540px;
  height: 640px;
  margin-left: 0px;
  padding-top: 145px;
  padding-left: 95px;
}

.hero__heading {
  width: 540px;
  height: 165px;
  font-family: Jost, sans-serif;
  color: #fff;
  font-size: 48px;
  line-height: 48px;
  font-weight: 500;
}

.hero__details {
  width: 445px;
  height: 78px;
  margin-bottom: 58px;
  font-family: Jost, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
}

.button__primary {
  position: absolute;
  z-index: 500;
  width: 152px;
  height: 56px;
  padding: 18px 25px 19px 24px;
  border-radius: 15px;
  background-color: #fff;
  font-family: Jost, sans-serif;
  color: #333136;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 1px;
}

.button__primary:hover {
  background-color: #ffa09b;
  color: #fff;
}

.hero__image {
  width: 284px;
  height: 73px;
  background-image: url('../images/bg-pattern-hero-home.svg');
  background-position: 0px 0px;
  background-size: auto;
}

.hero__image.background {
  position: relative;
  left: -66px;
  z-index: 100;
  width: 640px;
  height: 640px;
}

.container {
  display: flex;
  width: 1111px;
  height: 292px;
  border-radius: 15px;
}

.container.services {
  margin-left: 0px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.container.cards {
  width: 1110px;
  height: 412px;
  max-width: 1110px;
  margin-right: 150px;
  margin-left: 180px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.container.projects {
  display: -ms-grid;
  display: grid;
  height: 988px;
  margin-top: 160px;
  margin-bottom: 160px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 478px;
  grid-template-rows: 478px;
}

.container.projects.graphic__design {
  height: 478px;
}

.container.about__team {
  height: 640px;
}

.container.countries {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.container.story {
  height: 640px;
}

.container.canada {
  height: 326px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.container.australia {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.container.uk {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.container.contact {
  height: 480px;
  background-color: #e7816b;
}

.image {
  width: 640px;
  height: 640px;
}

.div-block {
  position: relative;
  left: -60px;
  width: 655px;
  height: 640px;
}

.div-block-2 {
  position: relative;
  left: -64px;
  width: 670px;
  height: 640px;
}

.image-2 {
  position: relative;
  max-width: none;
}

.image-3 {
  position: relative;
  left: -5px;
  top: -694px;
  z-index: 150;
}

.nav-link {
  font-family: Jost, sans-serif;
  color: #333136;
  letter-spacing: 2px;
}

.container-2 {
  display: flex;
  max-width: 1440px;
  margin-right: 0px;
  margin-left: 0px;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
}

.brand {
  margin-right: 200px;
}

.nav-menu {
  display: flex;
  margin-right: 0px;
  padding-right: 0px;
  justify-content: space-around;
}

.image-4 {
  position: static;
  z-index: 100;
  width: 196px;
  height: 53px;
  max-width: none;
  margin-left: 3px;
  padding-right: 523px;
}

.navbar-logo-left {
  width: 1110px;
  margin: 64px 165px;
  font-family: Jost, sans-serif;
}

.navbar-logo-left.no-link {
  display: none;
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1110px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 20px;
  background-color: transparent;
}

.navbar-logo-left-container.shadow-three {
  width: 1110px;
  max-width: 1440px;
  margin-bottom: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-3 {
  width: 100%;
  max-width: 940px;
  margin-right: 0px;
  margin-left: 0px;
}

.navbar-wrapper {
  display: flex;
  width: 1110px;
  margin-left: -19px;
  justify-content: space-between;
  align-items: center;
}

.navbar-wrapper.no-logo-link {
  display: none;
}

.nav-menu-two {
  display: flex;
  margin-bottom: 0px;
  justify-content: space-between;
  align-items: center;
}

.nav-link-2 {
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-decoration: none;
}

.nav-link-2:hover {
  color: rgba(26, 27, 31, 0.75);
}

.nav-link-2:focus-visible {
  border-radius: 4px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-link-2[data-wf-focus-visible] {
  border-radius: 4px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown {
  margin-right: 5px;
  margin-left: 5px;
}

.nav-dropdown-toggle {
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, 0.75);
}

.nav-dropdown-toggle:focus-visible {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  border-radius: 12px;
  background-color: #fff;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  border-radius: 5px;
  outline-color: #0050bd;
  outline-offset: 0px;
  outline-style: solid;
  outline-width: 2px;
  color: #0050bd;
}

.nav-divider {
  width: 1px;
  height: 22px;
  margin-right: 15px;
  margin-left: 15px;
  background-color: #e4ebf3;
}

.nav-link-accent {
  margin-right: 20px;
  margin-left: 5px;
  padding: 5px 10px;
  color: #1a1b1f;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.25px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, 0.75);
}

.button-primary {
  padding: 12px 25px;
  background-color: #1a1b1f;
  transition: all 200ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-primary:hover {
  background-color: #32343a;
  color: #fff;
}

.button-primary:active {
  background-color: #43464d;
}

.image-5 {
  display: none;
  max-width: none;
}

.image-5.hidden-logo {
  display: none;
}

.image-5.homepage {
  display: block;
}

.services__web_design {
  position: relative;
  width: 541px;
  height: 640px;
}

.services__app_graphic {
  display: flex;
  width: 541px;
  height: 308px;
  flex-direction: column;
  grid-column-gap: 9px;
  grid-row-gap: 9px;
}

.image__web_design {
  position: static;
  z-index: 200;
  width: 541px;
  height: 640px;
  max-width: none;
  margin-top: -6px;
  border-radius: 15px;
}

.image__app_design {
  border-radius: 15px;
}

.image__graphic_design {
  max-width: none;
  margin-top: -161px;
  border-radius: 15px;
}

.div-block-3 {
  position: relative;
  top: -424px;
}

.heading {
  position: relative;
  z-index: auto;
  margin-top: 18px;
  margin-bottom: 0px;
  font-family: Jost, sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
}

.heading-2 {
  font-family: Jost, sans-serif;
  color: #fff;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 5px;
  text-decoration: none;
}

.heading__app_design {
  position: relative;
  top: -259px;
  margin-top: 46px;
  padding-top: 0px;
}

.heading__app_design.web__design {
  margin-top: 53px;
}

.heading__web_design {
  position: absolute;
  top: -426px;
  z-index: auto;
  display: block;
  margin-top: 687px;
  margin-bottom: -30px;
  margin-left: 122px;
}

.div-block-3-copy {
  position: relative;
  top: -424px;
}

.heading__graphic_design-copy {
  position: relative;
  top: -225px;
}

.div-block-2-copy {
  position: relative;
  left: -64px;
  width: 670px;
  height: 640px;
  border-radius: 15px;
}

.div-block-4 {
  height: 412px;
  max-height: none;
  max-width: 1110px;
}

.card__work {
  width: 350px;
  height: 412px;
}

.div-block-6 {
  width: 350px;
}

.div-block-7 {
  height: 350px;
}

.image-6 {
  width: 202px;
  height: 202px;
  max-width: none;
  margin-right: 74px;
  margin-left: 74px;
  padding-left: 0px;
  border: 0px solid #000;
  border-radius: 100%;
  background-color: rgba(255, 160, 155, 0.2);
  text-align: left;
}

.image-7 {
  margin-left: 74px;
  border: 0px solid #000;
  border-radius: 100%;
  background-color: rgba(255, 160, 155, 0.2);
}

.image-8 {
  margin-left: 74px;
  border: 0px solid #000;
  border-radius: 100%;
  background-color: rgba(255, 160, 155, 0.2);
}

.heading-3 {
  font-family: Jost, sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 5px;
}

.work__heading {
  font-family: Jost, sans-serif;
  color: #333136;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 5px;
}

.work__description {
  font-family: Jost, sans-serif;
  color: #333136;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.section__cta {
  position: relative;
  top: -620px;
  width: 1111px;
  height: 292px;
  max-width: 1111px;
  margin-left: 165px;
  border-radius: 15px;
  background-color: #e7816b;
}

.div-block-8 {
  display: flex;
}

.div-block-9 {
  position: absolute;
  width: 459px;
  height: 148px;
  margin-top: 72px;
  margin-left: 95px;
  clear: none;
}

.button {
  width: 152px;
  height: 56px;
}

.button__cta {
  position: absolute;
  z-index: 500;
  width: 152px;
  height: 58px;
  margin-right: 96px;
  padding: 17px 18px;
  border-radius: 8px;
  background-color: #fff;
  font-family: Jost, sans-serif;
  color: #333136;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.button__cta:hover {
  background-color: #ffa09b;
}

.heading-4 {
  width: 268px;
  font-family: Jost, sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
}

.paragraph {
  font-family: Jost, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.div-block-10 {
  margin-top: 118px;
  margin-left: 309px;
}

.footer {
  width: 1440px;
  height: 393px;
  max-width: 1440px;
  margin-right: 0px;
  margin-left: 0px;
  background-color: #1d1c1e;
}

.div-block-11 {
  display: flex;
  width: 1111px;
  height: 46px;
  margin-top: 0px;
}

.image-9 {
  width: 202px;
  height: 31px;
  max-width: none;
  padding-right: 539px;
  color: #fff;
}

.heading-5 {
  width: 119px;
  height: 14px;
  padding-right: 36px;
  font-family: Jost, sans-serif;
  color: #fff;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.heading-5.link-1 {
  width: 164px;
}

.heading-5.link2 {
  width: 164px;
}

.div-block-12 {
  display: flex;
}

.div-block-13 {
  display: flex;
}

.image-10 {
  width: 202px;
  height: 27px;
  max-width: none;
  margin-right: 539px;
}

.div-block-14 {
  display: flex;
  color: #fff;
}

.div-block-15 {
  width: 350px;
  height: 78px;
  margin-top: 72px;
  margin-right: 31px;
}

.div-block-16 {
  width: 350px;
  height: 78px;
  min-width: 78px;
  margin-top: 72px;
}

.div-block-17 {
  width: 184px;
  height: 24px;
  margin-top: 126px;
  margin-left: 197px;
}

.image-11 {
  padding-right: 16px;
}

.image-12 {
  padding-right: 16px;
}

.image-13 {
  padding-right: 16px;
}

.image-14 {
  padding-right: 16px;
}

.image-15 {
  position: absolute;
  left: -461px;
  top: -228px;
  z-index: 100;
  width: 1008px;
  height: 594px;
  max-width: none;
  margin-top: 679px;
  margin-left: 268px;
  background-color: transparent;
  opacity: 0.28;
}

.image-16 {
  position: relative;
  left: -352px;
  top: 141px;
}

.image-17 {
  position: relative;
  left: 523px;
  top: -147px;
}

.div-block-2-copy-copy {
  position: relative;
  left: -64px;
  width: 670px;
  height: 640px;
  border-radius: 15px;
}

.hero_image {
  position: relative;
  left: -62px;
}

.image-18 {
  position: relative;
  left: -1187px;
  top: -320px;
  background-color: transparent;
}

.container__design_projects {
  display: flex;
  width: 1112px;
  height: 308px;
  max-width: 1112px;
  margin-top: 160px;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.design_projects {
  width: 541px;
  height: 308px;
}

.design_projects.app {
  border-radius: 15px;
}

.design_projects.web {
  border-radius: 15px;
}

.heading-6 {
  font-family: Jost, sans-serif;
  color: #e7816b;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 5px;
}

.paragraph-2 {
  text-align: center;
}

.project__express {
  border-radius: 15px;
}

.project__detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #fdf3f0;
  text-align: left;
}

.project__detail.graphic_design {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.paragraph-3 {
  width: 286px;
  height: 52px;
  text-align: center;
}

.heading-7 {
  width: 730px;
  height: 48px;
  margin-right: 0px;
  margin-left: auto;
  color: #fff;
  font-size: 48px;
  line-height: 48px;
  font-weight: 500;
  text-align: center;
}

.description__detail {
  width: 730px;
  height: 124px;
  margin-top: 63px;
  margin-right: 0px;
  margin-left: 0px;
  padding-top: 64px;
  padding-right: 190px;
  padding-left: 0px;
}

.paragraph-4 {
  width: 730px;
  height: 52px;
  padding-right: 172px;
  padding-left: 172px;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.image-19 {
  border-radius: 15px;
}

.heading__app_design-copy {
  position: relative;
  top: -259px;
  display: flex;
  padding-top: 36px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-20 {
  border-radius: 15px;
}

.link-block {
  text-decoration: none;
}

.image-21 {
  border-radius: 15px;
}

.image-22 {
  border-radius: 15px;
}

.project__airfilter {
  border-radius: 15px;
}

.image__webdesign {
  border-radius: 15px;
}

.image__design_projects {
  border-radius: 15px;
}

.image__projects {
  border-radius: 15px 15px 0px 0px;
}

.section-2 {
  width: 1111px;
  height: 480px;
  max-width: none;
  margin-right: 165px;
  margin-bottom: 160px;
  margin-left: 165px;
}

.div-block-19 {
  display: flex;
  width: 1111px;
  height: 480px;
  border-radius: 15px;
}

.div-block-20 {
  width: 635px;
  height: 480px;
}

.div-block-21 {
  width: 476px;
}

.about__detail {
  display: flex;
  width: 635px;
  height: 480px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  border: 1px none #000;
  border-radius: 15px 0px 0px 15px;
  background-color: #e7816b;
}

.heading-8 {
  width: 540px;
  height: 48px;
  margin-left: 76px;
  font-family: Jost, sans-serif;
  color: #ffa09b;
  font-size: 48px;
  line-height: 48px;
  font-weight: 500;
}

.detail__paragraph {
  width: 458px;
  height: 332px;
  font-family: Jost, sans-serif;
  color: #333136;
  font-size: 16px;
  line-height: 26px;
}

.image-23 {
  border-radius: 15px 0px 0px 15px;
}

.about__content {
  display: flex;
  width: 1111px;
  height: 480px;
  border-radius: 15px;
}

.about__detail-copy {
  display: flex;
  width: 635px;
  height: 640px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #e7816b;
}

.about__detail_team {
  display: flex;
  width: 635px;
  height: 640px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #fcfdf0;
}

.body-2 {
  background-color: #fdf0f0;
}

.country__canada {
  width: 350px;
  height: 364px;
  padding-right: 70px;
  padding-left: 70px;
  background-color: #fdf0f0;
}

.image-24 {
  width: 202px;
  height: 202px;
  max-width: none;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  border: 1px none #000;
  border-radius: 50%;
  background-color: #ffa09b;
  text-align: left;
}

.heading-9 {
  width: 350px;
  height: 26px;
  margin: 48px 10px 32px -78px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: Jost, sans-serif;
  color: #333136;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 5px;
}

.button-3 {
  width: 152px;
  height: 56px;
  margin-right: 50px;
  margin-left: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 18px;
  border-radius: 15px;
  background-color: #e7816b;
  text-align: center;
}

.heading-9-copy {
  width: 350px;
  height: 26px;
  margin: 48px 10px 32px -78px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: Jost, sans-serif;
  color: #333136;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 5px;
}

.heading-9-copy {
  width: 350px;
  height: 26px;
  margin: 48px 10px 32px -78px;
  padding-right: 0px;
  padding-left: 0px;
  font-family: Jost, sans-serif;
  color: #333136;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 5px;
}

.detail__heading {
  -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
}

.detail__heading-copy {
  margin-top: 135px;
  margin-right: 314px;
  -ms-grid-row-align: center;
      align-self: center;
  color: #fff;
  text-align: left;
}

.team_contemt {
  display: flex;
  width: 1111px;
  height: 480px;
  border-radius: 15px;
}

.story__detail {
  width: 635px;
}

.story__image {
  width: 476px;
  height: 714px;
}

.story__heading {
  width: 445px;
  height: 48px;
  margin-top: 155px;
  font-family: Jost, sans-serif;
  color: #e7816b;
  font-size: 40px;
  line-height: 40px;
  font-weight: 500;
}

.story__paragraph {
  width: 445px;
  height: 260px;
  color: #333136;
  font-size: 16px;
  line-height: 26px;
}

.heading-10 {
  position: relative;
  margin-top: -367px;
  color: #fff;
}

.heading__app_design-copy {
  position: relative;
  top: -259px;
  display: none;
  margin-top: -232px;
  padding-top: 0px;
}

.image__design_web {
  border-radius: 15px;
}

.heading__app_design-copy-copy {
  position: relative;
  top: -259px;
  display: flex;
  padding-top: 36px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-block-2 {
  border-radius: 15px;
}

.image-25 {
  border-radius: 15px;
}

.image-26 {
  border-radius: 15px;
}

.heading__web_design_graphic {
  position: relative;
  top: -225px;
}

.image-27 {
  border-radius: 15px;
}

.image-28 {
  border-radius: 15px;
}

.cta__button {
  position: relative;
  left: 845px;
  top: 104px;
  right: 845px;
  width: 152px;
  height: 56px;
}

.section-3 {
  width: 1110px;
  height: 326px;
  margin-right: 165px;
  margin-bottom: 32px;
  margin-left: 165px;
}

.section-4 {
  width: 1110px;
  height: 326px;
  margin-right: 165px;
  margin-bottom: 32px;
  margin-left: 165px;
}

.div-block-22 {
  width: 730px;
  height: 326px;
  border-radius: 15px;
  background-color: #fdf3f0;
}

.div-block-23 {
  width: 350px;
  height: 326px;
}

.div-block-24 {
  width: 350px;
  height: 320px;
}

.div-block-25 {
  width: 730px;
  height: 326px;
  border-radius: 15px;
  background-color: #fdf3f0;
}

.div-block-26 {
  width: 730px;
  height: 326px;
  border-radius: 15px;
  background-color: #fdf3f0;
}

.div-block-27 {
  width: 350px;
  height: 326px;
}

.image-29 {
  width: 350px;
  height: 326px;
  max-width: none;
  border-radius: 15px;
}

.div-block-28 {
  display: flex;
  width: 540px;
  height: 150px;
  margin-top: 88px;
  margin-left: 95px;
}

.div-block-29 {
  width: 303px;
}

.div-block-30 {
  width: 255px;
  height: 78px;
  margin-top: 68px;
  border: 3px none #000;
}

.heading-11 {
  font-family: Jost, sans-serif;
  color: #e7816b;
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
}

.text-block {
  font-family: Jost, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
}

.text-block-2 {
  color: #333136;
}

.text-block-3 {
  font-family: Jost, sans-serif;
}

.text-block-4 {
  font-family: Jost, sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
}

.image-30 {
  width: 350px;
  height: 326px;
  max-width: none;
  border-radius: 15px;
}

.image-31 {
  width: 350px;
  height: 326px;
  max-width: none;
  border-radius: 15px;
}

.contact__info {
  width: 540px;
  height: 184px;
  margin-top: 135px;
  margin-left: 95px;
  background-color: #e7816b;
  color: #fff;
}

.contact__form {
  width: 380px;
  height: 371px;
  margin-top: 55px;
  margin-right: 96px;
}

.info__heading {
  margin-bottom: 32px;
  font-family: Jost, sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 500;
}

.paragraph-5 {
  width: 445px;
  font-family: Jost, sans-serif;
  font-size: 16px;
  line-height: 26px;
}

.text-field {
  width: 380px;
  height: 103px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #fff;
  background-color: #e7816b;
  color: #e7816b;
}

.text-field::-moz-placeholder {
  color: hsla(0, 0%, 100%, 0.5);
}

.text-field::-ms-input-placeholder {
  color: hsla(0, 0%, 100%, 0.5);
}

.text-field::placeholder {
  color: hsla(0, 0%, 100%, 0.5);
}

.form-block {
  background-color: #e7816b;
  color: transparent;
}

.contact__text_field {
  margin-bottom: 25px;
  border-style: solid;
  border-width: 0px 0px 2px;
  border-color: #fff;
  background-color: #e7816b;
  font-family: Jost, sans-serif;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 15px;
  line-height: 26px;
  font-weight: 500;
}

.contact__text_field::-moz-placeholder {
  font-family: Jost, sans-serif;
  color: hsla(0, 0%, 100%, 0.5);
}

.contact__text_field::-ms-input-placeholder {
  font-family: Jost, sans-serif;
  color: hsla(0, 0%, 100%, 0.5);
}

.contact__text_field::placeholder {
  font-family: Jost, sans-serif;
  color: hsla(0, 0%, 100%, 0.5);
}

.form {
  border: 0px none #000;
  color: #fff;
}

.text-field-3 {
  margin-bottom: 25px;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #fff;
  background-color: #e7816b;
  font-family: Jost, sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight: 500;
}

.text-field-3::-moz-placeholder {
  color: hsla(0, 0%, 100%, 0.5);
}

.text-field-3::-ms-input-placeholder {
  color: hsla(0, 0%, 100%, 0.5);
}

.text-field-3::placeholder {
  color: hsla(0, 0%, 100%, 0.5);
}

.contact__submit {
  width: 152px;
  height: 56px;
  margin-top: 12px;
  margin-left: 277px;
  border-radius: 15px;
  background-color: #fff;
  font-family: Jost, sans-serif;
  color: #333136;
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 1px;
}

.contact__submit:hover {
  background-color: #ffa09b;
  color: #fff;
}

.body-3 {
  font-family: Jost, sans-serif;
}

.image-32 {
  border-radius: 15px;
}

.link-block-3 {
  position: relative;
  z-index: 500;
}

.link-block-4 {
  position: relative;
  z-index: 500;
}

.link-block-5 {
  position: relative;
  z-index: 500;
}

@media screen and (max-width: 991px) {
  .container-3 {
    max-width: 728px;
  }

  .navbar-wrapper {
    width: 689px;
    height: 27px;
    padding-left: 0px;
  }

  .nav-menu-wrapper {
    background-color: transparent;
  }

  .nav-menu-two {
    display: flex;
    margin-top: 10px;
    padding: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.05);
  }

  .nav-link-2 {
    padding-right: 5px;
    padding-left: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button {
    padding: 12px;
  }

  .menu-button.w--open {
    background-color: #a6b1bf;
    color: #fff;
  }
}

@media screen and (max-width: 767px) {
  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand {
    padding-left: 0px;
  }

  .nav-menu-two {
    padding-bottom: 30px;
    flex-direction: column;
    border-radius: 20px;
  }

  .nav-link-2 {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px 0 rgba(0, 0, 0, 0.05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent {
    display: inline-block;
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }
}

@media screen and (max-width: 479px) {
  .container-3 {
    max-width: none;
  }

  .nav-menu-two {
    flex-direction: column;
  }
}

#w-node-ea2f68e8-145e-dc1c-92b9-2de638a0f5bf-13fc693f {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ea2f68e8-145e-dc1c-92b9-2de638a0f5c6-13fc693f {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ea2f68e8-145e-dc1c-92b9-2de638a0f5c7-13fc693f {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ea2f68e8-145e-dc1c-92b9-2de638a0f5cd-13fc693f {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ea2f68e8-145e-dc1c-92b9-2de638a0f5ce-13fc693f {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ea2f68e8-145e-dc1c-92b9-2de638a0f5d4-13fc693f {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ea2f68e8-145e-dc1c-92b9-2de638a0f5d5-13fc693f {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ea2f68e8-145e-dc1c-92b9-2de638a0f5db-13fc693f {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ea2f68e8-145e-dc1c-92b9-2de638a0f5dc-13fc693f {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0f5a02ec-1780-1744-2f52-03e866e47857-4dfc6940 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0f5a02ec-1780-1744-2f52-03e866e4785e-4dfc6940 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0f5a02ec-1780-1744-2f52-03e866e4785f-4dfc6940 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0f5a02ec-1780-1744-2f52-03e866e47865-4dfc6940 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0f5a02ec-1780-1744-2f52-03e866e47866-4dfc6940 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4298c3c5-45f2-368d-cea7-715a0a41114c-f8fc6941 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4298c3c5-45f2-368d-cea7-715a0a411153-f8fc6941 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4298c3c5-45f2-368d-cea7-715a0a411154-f8fc6941 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4298c3c5-45f2-368d-cea7-715a0a41115a-f8fc6941 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4298c3c5-45f2-368d-cea7-715a0a41115b-f8fc6941 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4298c3c5-45f2-368d-cea7-715a0a411161-f8fc6941 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4298c3c5-45f2-368d-cea7-715a0a411162-f8fc6941 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4298c3c5-45f2-368d-cea7-715a0a411168-f8fc6941 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4298c3c5-45f2-368d-cea7-715a0a411169-f8fc6941 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4298c3c5-45f2-368d-cea7-715a0a41116f-f8fc6941 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4298c3c5-45f2-368d-cea7-715a0a411170-f8fc6941 {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5476ac4c-59fb-b185-e300-b483c1cda6e0-c1cda6de {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

#w-node-_5476ac4c-59fb-b185-e300-b483c1cda6e6-c1cda6de {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

#w-node-_5476ac4c-59fb-b185-e300-b483c1cda6ec-c1cda6de {
  -ms-grid-column: span 1;
      grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

